/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #000000 ;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 1rem;
    z-index: 99;
    text-align: center;
    height: 5rem; 
    width: 100%;
    box-shadow: 0 2px 2px #000000;
}

/* Footer */
footer {
    background-color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}

/* section / main game area */
.game-area {
    background-color: #ffffff;
    /* Make section element take up any surplus space to push footer down */
    flex: 1 0 auto;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}

/* control buttons */
.control {
    display: inline-block;
    margin: 2px;
    width: 5rem;
    height: 2.5rem;
    cursor: pointer;
    margin: 4px 2px;
}

#messages {
    height: 1.25rem;
}

#make-choice {
    padding: 5px;
    font-size: 1.5rem;
}
.player {
    background-color: lightblue;
    float: left;
    width: 45%;
}

#player-image {
    width: 75%;
}

.computer {
    background-color: lightcoral;
    float: right;
    width: 45%;
}

#computer-image {
    width: 75%;
}

/* MEDIA QUERIES */

/* For medium screen sizes from 950px wide and below */
@media screen and (max-width: 950px) {


}

/* For small screen sizes from 800px wide and below */
@media screen and (max-width: 800px) {

} 

/* For small screen sizes from 600px wide and below */
@media screen and (max-width: 600px) {
    .player, .computer {
        float: none;
        width: 60%;
        margin: auto;
        margin-bottom: 10px;
    }
}

/* For small screen sizes from 350px wide and below */
@media screen and (max-width: 350px) {
    header {
        font-size: 12px;
        box-shadow: none;
        margin-bottom: 10px;
    }

    #make-choice {
        padding: 5px;
        font-size: 1.2rem;
    }

    .control {
        width: 4rem;
        height: 2rem;
    }

} 